<div id="about" class="d-flex align-items-center justify-content-center vh-100">
  <div class="container">
    <h2 class="my-3 text-center pb-3">ABOUT COMPONENT</h2>
    <div class="row">
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    
    </div>
  </div>
</div>
