
<div id="contact" class="d-flex align-items-center justify-content-center vh-100">
    <div class="container  px-5">
<h2 class="my-5 pb-5 text-center">CONTACT SECTION</h2>
<form class="mt-5 pt-5">
    <input type="text" placeholder="Username" class="form-control mb-4">
    <input type="number" placeholder="Age" class="form-control mb-4">
    <input type="email" placeholder="E-mail" class="form-control mb-4">
    <input type="password" placeholder="Password" class="form-control mb-4">
   <button>Send Message</button>
</form>
    </div>
  </div>
