

<div id="portfolio" class="d-flex align-items-center justify-content-center vh-100 position-relative">
    <div class="container text-center">
<h2 class="">PORTFOLIO COMPONENT</h2>
<div class="row g-5 mt-4">
    <div class="main-img col-md-6 col-lg-4">
        <img src="../../assets/port1.png" alt="" class="rounded-3">
        <div class="d-flex justify-content-center align-items-center hover-layer"><i class="fa-solid fa-plus"></i></div>
    </div>
    <div class="main-img col-md-6 col-lg-4">
        <img src="../../assets/port2.png" alt="" class="rounded-3" >
        <div class="d-flex justify-content-center align-items-center hover-layer"><i class="fa-solid fa-plus"></i></div>
    </div>
    <div class="main-img col-md-6 col-lg-4">
        <img src="../../assets/port3.png" alt="" class="rounded-3">
        <div class="d-flex justify-content-center align-items-center hover-layer"><i class="fa-solid fa-plus"></i></div>
    </div>
    <div class="main-img col-md-6 col-lg-4">
        <img src="../../assets/port1.png" alt="" class="rounded-3">
        <div class="d-flex justify-content-center align-items-center hover-layer"><i class="fa-solid fa-plus"></i></div>
    </div>
    <div class="main-img col-md-6 col-lg-4">
        <img src="../../assets/port2.png" alt="" class="rounded-3">
        <div class="d-flex justify-content-center align-items-center hover-layer"><i class="fa-solid fa-plus"></i></div>
    </div>
    <div class="main-img col-md-6 col-lg-4">
        <img src="../../assets/port3.png" alt="" class="rounded-3">
        <div class="d-flex justify-content-center align-items-center hover-layer"><i class="fa-solid fa-plus"></i></div>
    </div>
</div>
    </div>
  </div>